<link href="https://unpkg.com/ed-grid@3.0.0/src/css/ed-grid.min.css" rel="stylesheet">
<br>
<button id="link-button" type="button" class="button s-mb-2 m-mb-0" style="margin-left: 40%; margin-right: 40%;">Link Account</button>
  <br>
<button id="transactions-get" type="button" class="button s-mb-2 m-mb-0" style="margin-left: 40%; margin-right: 40%;">Transactions</button>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<script type="text/javascript">
(async function() {

  const fetchTransactions = () => {
    const response = fetch('/transactions/get', {method: 'GET'});
  }


  const fetchLinkToken = async () => {
    const response = await fetch('/create_link_token', { method: 'POST' });
    const responseJSON = await response.json();
    return responseJSON.link_token;
  };
  const configs = {
    // 1. Pass a new link_token to Link.
    token: await fetchLinkToken(),
    onSuccess: async function(public_token, metadata) {
      // 2a. Send the public_token to your app server.
      // The onSuccess function is called when the user has successfully
      // authenticated and selected an account to use.
      $.post('/exchange_public_token', {
        public_token:public_token,
      });
      console.log(public_token);
      console.log(metadata);
      /* await fetch('/exchange_public_token', {
        method: 'POST',
        body: JSON.stringify({ public_token: public_token }),
      }); */
    },
    onExit: async function(err, metadata) {
      console.log(metadata);
      // 2b. Gracefully handle the invalid link token error. A link token
      // can become invalidated if it expires, has already been used
      // for a link session, or is associated with too many invalid logins.
      if (err != null && err.error_code === 'INVALID_LINK_TOKEN') {
        linkHandler.destroy();
        linkHandler = Plaid.create({
          ...configs,
          token: await fetchLinkToken(),
        });
      }
      if (err != null) {
        // Handle any other types of errors.
      }
      // metadata contains information about the institution that the
      // user selected and the most recent API request IDs.
      // Storing this information can be helpful for support.
    },
  };
  var linkHandler = Plaid.create(configs);
  document.getElementById('link-button').onclick = function() {
    linkHandler.open();
  };
  document.getElementById('transactions-get').onclick = function() {
    fetchTransactions();
  }


})();
</script>